<%- include('../partials/header') %>
  <div style="margin: 0px 20px 20px 20px;">
    <form action="/cohorts" method="POST">
        <div class="form-group">
            <label for="imageUrl">Logo Url</label>
            <input type="text" class="form-control" name="imageUrl" placeholder="e.g. https://www.example.com/some.png">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name of the new cohort..">
        </div>
        <div class="form-group">
            <label for="members">Members</label>
            <textarea class="form-control" rows="3" name="members" placeholder="Saad Maan, Sam Sung, Paul Twocock, Moe Lester.."></textarea>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight">
            <button type="submit" value="Submit" class="btn btn-outline-primary">Submit</button>
        </div>
    </form>
  </div>
<%- include('../partials/footer') %> 

