<%-include('./partials/header')%>

<div class="container d-flex justify-content-center  text-monospace align-items-center font-weight-bold" style="height: 70vh;">
    <h1>Welcome  to  Super  Team  Picker!</h1>
</div>

<%-include('./partials/footer')%>
